<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "NovaVoice" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <!-- W3.CSS Framework -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <!-- jQuery (required for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    
    <!-- Export dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    
    <%= javascript_importmap_tags %>
  </head>
  <body class="w3-light-grey">
    <!-- Navigation -->
    <div class="w3-bar w3-white w3-card w3-large">
      <div class="w3-content">
        <%= link_to request.path.start_with?('/app') ? '/app/' : root_path, class: "w3-bar-item w3-button w3-hover-blue w3-text-blue" do %>
          <i class="fas fa-microphone"></i> <b>NovaVoice</b>
        <% end %>
        
        <%= link_to request.path.start_with?('/app') ? '/app/' : root_path, class: "w3-bar-item w3-button w3-hover-light-grey #{'w3-blue' if current_page?(root_path)}" do %>
          <i class="fas fa-dashboard"></i> Dashboard
        <% end %>
        
        <%= link_to campaigns_path, class: "w3-bar-item w3-button w3-hover-light-grey #{'w3-blue' if controller_name == 'campaigns'}" do %>
          <i class="fas fa-phone"></i> Campaigns
        <% end %>
        
        <%= link_to leads_path, class: "w3-bar-item w3-button w3-hover-light-grey #{'w3-blue' if controller_name == 'leads'}" do %>
          <i class="fas fa-users"></i> Leads
        <% end %>
        
        <%= link_to admin_api_v1_prompts_path, class: "w3-bar-item w3-button w3-hover-light-grey" do %>
          <i class="fas fa-comment-dots"></i> Prompts
        <% end %>
        
        <%= link_to api_v1_transcripts_path, class: "w3-bar-item w3-button w3-hover-light-grey" do %>
          <i class="fas fa-file-alt"></i> Transcripts
        <% end %>
        
        <%= link_to admin_calling_schedule_index_path, class: "w3-bar-item w3-button w3-hover-light-grey" do %>
          <i class="fas fa-clock"></i> Schedule
        <% end %>
        
        <%= link_to admin_sync_index_path, class: "w3-bar-item w3-button w3-hover-light-grey" do %>
          <i class="fas fa-sync"></i> Sync
        <% end %>
        
        <div class="w3-right w3-bar-item">
          <% if authenticated? %>
            <%= link_to session_path, data: { method: :delete }, class: "w3-button w3-hover-red w3-text-red w3-margin-right", style: "text-decoration: none;" do %>
              <i class="fas fa-sign-out-alt"></i> Sign Out
            <% end %>
            <span class="w3-text-blue w3-margin-right">
              <i class="fas fa-user"></i> <%= current_user[:email] %>
            </span>
          <% end %>
          <i class="fas fa-calendar"></i> <%= Time.current.strftime("%B %d, %Y") %>
          <span class="w3-text-green w3-margin-left"><i class="fas fa-circle"></i></span>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <main class="w3-content w3-padding-16">
      <!-- Flash Messages -->
      <% if notice %>
        <div class="w3-panel w3-pale-green w3-border w3-border-green w3-round">
          <p><i class="fas fa-check-circle w3-text-green"></i> <%= notice %></p>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="w3-panel w3-pale-red w3-border w3-border-red w3-round">
          <p><i class="fas fa-exclamation-circle w3-text-red"></i> <%= alert %></p>
        </div>
      <% end %>
      
      <%= yield %>
    </main>
  </body>
</html>